<div class="about-page">
    <h1 class="about-title">
        ABOUT
    </h1>

    <div class="about-body">
        hi, i'm will.
    </div>

    <div class="flex">

        <div class="about-paragraph">
            i graduated university of minnesota with bachelors in computer science, currently
            working as a software engineer at vmware.  recently, been working building cloud apps
            with react/angular frontends and java/c# backends. 

            <br>
            <br>
            <br>

            outside of work, i have always enjoyed working on various projects like this website, 
            byt8, and other small projects in my github.  i also love to travel, cook, and cuddle 
            with our two dogs.  don't hesitate to reach out if you want to connect for any particular 
            reason. 
        
        </div>

        <div class="picture">
            <img src="../../../assets/about_large.jpg" alt="Will Sather" />
        </div>

    </div>
</div>
