<header class="header" [style.background-color]="getBackgroundColor()">

    <div class="flex">
        
        <div>
            <a href="/" class="logo">
              <img src="{{getLogo()}}" alt="Will Sather" href="/" width="100" height="100"/>
            </a>
        </div>

        <ul class="nav">
          <li>
            <a class="link" routerLink="" [style.color]="getTextColor()">home</a>
          </li>
          <li>
            <a class="link" routerLink="experience" [style.color]="getTextColor()">experience</a>
          </li>
          <li>
            <a class="link" href="https://byt8.app" target="_blank" [style.color]="getTextColor()">byt8</a>
          </li>
          <li>
            <a class="link" routerLink="about" [style.color]="getTextColor()">about</a>
          </li>
        </ul>
        
    </div>
  </header>